.main{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.buttons{
  
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  bottom: 10px;
  
}